<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <main class="login-container">
        <h1><%= title %></h1>
        <% if (typeof flash !== 'undefined' && flash) { %>
            <div class="flash-message flash-<%= flash.type || 'info' %>">
                <%= flash.message %>
            </div>
        <% } %>


        <% if (errors) { %>
            <ul class="notice">
                <% errors.array().forEach(error => { %>
                    <li><%= error.msg %></li>
                <% }) %>
            </ul>
        <% } %>



        <form id="loginForm" action="/inv/account/login" method="POST">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="account_email" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="account_password" required>
            </div>
            <button type="submit" class="login-button">Login</button>
        </form>
        
        <div class="register-link">
            <p>Don't have an account yet?</p>
            <a href="/inv/account/register">Create a new account</a>
        </div>

    </main>
    
</body>
</html>